html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1 {
  font-size: 3em;
	font-family: 'Saira Stencil One', monospace, cursive;
	color: rgba(255, 255, 255, 0.8);
}
h2 {
	font-family: 'Rubik', sans-serif;
}

strong {
	color: #ff3333;
	font-size: 2em;
}
body {
	background-image: url(https://i.ibb.co/h9gPfTM/2274-F81-C-2-D69-4362-940-C-D6651-E1-C1-C6-E.jpg);
	background-size: cover;
	max-width: 100%;
	max-height: auto;
}
main {
	background-color: rgba(0, 17, 51, 0.7);

}
nav {
	display: flex;
	justify-content: flex-end;
	vertical-align: middle;
	margin-top: 60px;
}
.navbar {
	font-family: 'Rubik', sans-serif;
	font-size: 1.5em;
}
.navbar:hover {
	text-decoration: underline;
}
li {
	list-style-type: none;
}
.top {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}
.maininfo {
	font-size: 1.7em;
	color: rgba(255, 255, 255, 0.9);
	line-height: 1.6;
	padding: 150px 60px 30px 40px;
  font-family: 'Rubik', sans-serif;
}
.twoButton {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8em;
	padding: 30px 0 30px 30px;
	display: flex;
}
.findUs, .signUp {
	padding: 30px 20px;
	border-radius: 3px;
	margin-right: 30px;
}
.findUs {
background-color: rgba(128, 0, 51, 0.9);
}
.signUp {
	background-color: rgba(128, 128, 128, 0.9);
}
.signUp:hover {
	background-color: #ff3333;
}
.findUs:hover {
	background-color: #667399;
}
.logo {
	width: 300px;
	height: 100px;
	float: right;
}
.free {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8em;
	display: flex;
	padding: 20px 0 20px 40px;
	background-color: rgba(255, 0, 0, 0.8);
	margin-top: 10px;
}
